@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    height: 100%;
}

.left-painel {
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    width: 20%;
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    .botoes {
        flex: 1;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cima a, .cima p {
            text-decoration: none;
            color: black;
        }
    }
    .botao:hover {
        filter: brightness(90%);
    }
    .mini-profilelogo {
        display: flex;
        margin: 10px;
        margin-inline: 20px;
        font-weight: bolder;
        align-items: center;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            > div {
                display: flex;
                background-color: rgb(255, 219, 57);
                height: 45px;
                width: 45px;
                align-items: center;
                justify-content: center;
                font-size: 200%;
                border-radius: 8px;
            }
            > p {
                font-size: 120%;
                margin-left: 15px;
            }
        }
        img, svg {
            height: 50px;
        }
        svg {
            cursor: pointer;
            scale: 0.6;
        }
    }
    .logo {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        img {
            margin: 10px;
            aspect-ratio: 1/1;
        }
    }
    .botao {
        display: flex;
        align-items: center;
        height: 50px;
        flex: 1;
        background-color: var(--background);
        margin-right: 25px;
        margin-block: 15px;
        border-radius: 0 20px 20px 0;
        * {
            margin-left: 8%;
            font-size: 100%;
            height: 80%;
            align-content: center;
            font-size: 130%;
        }
    }
}